In [ ]:
# Ruchika Bhat   25070123095
# Aim : Study of Set in Python

# output is not in order in set
set1={"apple","banana","cherry"}
print(set1)
# we can't print a specific element
# no indexing command will work in set
print(set1[1])

{'banana', 'cherry', 'apple'}

TypeError: 'set' object is not subscriptable

In [ ]:
# it can print different datatypes but not in order
set2={2,2.2,True,"ruchika"}
print(set2)

{True, 2, 2.2, 'ruchika'}

In [ ]:
# it removes duplicate
# 1 is not printed because true is logic 1
set3={"apple",2,True,1,"apple"}
print(set3)
# if we have to print symbiosis 5 times using set, it is a wrong question, we cant do it

{True, 2, 'apple'}

In [ ]:
# we can add and remove elements in set
set4={"apple","banana","cherry"}
set4.add("kiwi")
print(set4)
set4.remove("banana")
print(set4)

{'kiwi', 'banana', 'cherry', 'apple'}
{'kiwi', 'cherry', 'apple'}

In [ ]:
# main application of set
# calculating union:OR A|B , intersection:AND A&B (used for finding the common things in both the sets)
set5={1,2,3,4}
set6={3,4,5,6}
print("union:",set5|set6)
print("intersection:",set5&set6)

# difference command
print("difference:",set5-set6)   #removes set6 elements from set5
print("difference:",set6-set5)   #removes set5 elements from set6

# xoring command(disimilar): removes the common elements
print("disimilar:",set5^set6)

union: {1, 2, 3, 4, 5, 6}
intersection: {3, 4}
difference: {1, 2}
difference: {5, 6}
disimilar: {1, 2, 5, 6}

In [ ]:
# frozen set
set7=frozenset({"apple","banana","orange"})
print(set7)
print(type(set7)) # prints class of set

# now the set is fixed
# set is immutable now, add or remove command won't work
set7.add("kiwi")
print(set7)
set7.remove("banana")
print(set7)

# indexing also don't work
print(set7[1])
# set theory will work

frozenset({'orange', 'banana', 'apple'})
<class 'frozenset'>

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
''' Question 1: Unique Event Participants
A college event has a list of students who registered multiple times by mistake.
Write a program using set to store participant Names and display the only unique participants Names. '''

names_list=["radha","sham","raghav","ganga","sham","rahul","sham","aditya","nitya","sidhi"]
unique_names=set(names_list)
print("Unique Names:", unique_names)

Unique Names: {'sham', 'radha', 'ganga', 'rahul', 'aditya', 'raghav', 'sidhi', 'nitya'}

In [ ]:
''' Question 2: Three students choose elective subjects.
Find the common subjects chosen by all he students using using set operation.
Concept Used : Set intersection(&) '''

student1={"maths","english","python","biology"}
student2={"economics","hindi","python","sanskrit"}
student3={"history","business","python","computer"}
common_subjects= student1&student2&student3
print("Common Subjects:", common_subjects)

Common Subjects: {'python'}

In [ ]:
''' Question 3: One set conatins students in the Cricket Club and another in the Football Club.
Find students who are: 1. In both clubs. 2.In only one club
Concept Used : Intersection, Symmetric difference. '''

cricket_club={"alex","maya","daniel","rocky","sam"}
football_club={"maya","daniel","kriti","saniya"}
both_clubs= cricket_club&football_club
print("Students in both clubs:",(both_clubs))
only_one_club= cricket_club^football_club
print("Students in only one club:",(only_one_club))

Students in both clubs: {'maya', 'daniel'}
Students in only one club: {'saniya', 'rocky', 'alex', 'sam', 'kriti'}

In [ ]:
''' Question 4: Absent students
Given a set of all students and a set of present students,
find the absent students. '''

all_students={"radha","sham","raghav","ganga","rahul","aditya","nitya","sidhi"}
present_students={"raghav","ganga","rahul","aditya","nitya"}
print("Absent Students:",(all_students-present_students))

Absent Students: {'sidhi', 'sham', 'radha'}

In [ ]:
''' Question 5: Remove Invalid Enteries.
A set contains valid course codes.
Remove a discontinued course code from the set.
Concept Used: remove() / discard() '''

course_codes={"CS101","CS102","CS103","CS104","CS105"}
course_codes.discard("CS103")
print("Updated Course Codes:",course_codes)

Updated Course Codes: {'CS104', 'CS105', 'CS101', 'CS102'}